.container img {
  width: 1200px;
}

.chat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: flex-start;
}

.text {
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  padding-top: 50px;
}
