.folder {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 246px;
  height: 396px;
  border: 3px ridge black;
  border-radius: 5%;
  margin: 2px;
  background: url('../../../icons/1211688.svg');
  padding: 5px;
  color: black;
  background-color: #dee2e6;
  background-size: contain;
  text-decoration: none;
  font-size: 36px;
}
