.folder {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 350px;
  border: 3px ridge bisque;
  border-radius: 10%;
  margin: 2px;
  background: url('../../icons/usiiik_Folder_Icon.svg') right bottom no-repeat,
    url('../../icons/xox-Watia-girl.svg') right top no-repeat;
  /* background-repeat: no-repeat; */
  padding: 5px;
  color: black;
  background-color: bisque;
}
