.markTranslate {
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  cursor: grab;
  position: absolute;
  z-index: 2;
}

.markDecor {
  background-color: blue;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  cursor: grab;
  position: absolute;
  z-index: 2;
}

.markDecor div {
  position: absolute;
  content: attr(data-text);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.markEdit {
  background-color: green;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  cursor: grab;
  position: absolute;
  z-index: 2;
}

.markEdit div {
  position: absolute;
  content: attr(data-text);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.markTranslate div {
  position: absolute;
  content: attr(data-text);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  width: 900px;
}

.disableMark {
  display: none;
}

.images {
  width: 100%;
  height: auto;
  position: absolute;
}
