.mark {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  cursor: grab;
  position: absolute;
  z-index: 2;
}

.mark div {
  position: absolute;
  content: attr(data-text);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  width: 900px;
}

.disableMark {
  display: none;
}

.images {
  width: 100%;
  height: auto;
  position: absolute;
}
